.text-uppercase {
	text-transform: uppercase;
}

.question-form {
	border-left: 4px solid transparent !important;
	transition: all .1s ease-in-out;
}

.question-form--focused {
	border-left: 4px solid rgb(var(--v-theme-primary)) !important;
}