//H1
.ao-h1 {
	font-size: 18px !important;
	font-weight: 600 !important;
	line-height: 135%;
	letter-spacing: 0;
	letter-spacing: 0;
}
//H2
.ao-h2 {
	font-size: 16px !important;
	font-weight: 500 !important;
	line-height: 150%;
	letter-spacing: 0;
}
//H3
.ao-h3 {
	font-size: 14px !important;
	font-weight: 600 !important;
	line-height: 150%;
	letter-spacing: 0;
}
//H4
.ao-h4 {
	font-size: 12px !important;
	font-weight: 500 !important;
	line-height: 150%;
	letter-spacing: 0;
}
//H5
.ao-h5 {
	font-size: 10px !important;
	font-weight: 500 !important;
	line-height: 160%;
	letter-spacing: 0;
}
//H6
.ao-h6 {
	font-size: 9px !important;
	font-weight: 700 !important;
	line-height: 165%;
	letter-spacing: 0;
}

//p1
.ao-p1 {
	font-size: 14px !important;
	font-weight: 500 !important;
	line-height: 135%;
	letter-spacing: 0;
}
//p2
.ao-p2-medium {
	font-size: 12px !important;
	font-weight: 500 !important;
	line-height: 145%;
	letter-spacing: 0;
}
//p2
.ao-p2-regular {
	font-size: 12px !important;
	font-weight: 400 !important;
	line-height: 150%;
	letter-spacing: 0;
}
//p3
.ao-p3-medium {
	font-size: 11px !important;
	font-weight: 500 !important;
	line-height: 140%;
	letter-spacing: 0;
}
//p3
.ao-p3-regular {
	font-size: 11px !important;
	font-weight: 400 !important;
	line-height: 140%;
	letter-spacing: 0;
}
//p4
.ao-p4-medium {
	font-size: 10px !important;
	font-weight: 500 !important;
	line-height: 140%;
	letter-spacing: 0;
}
//p4
.ao-p4-regular {
	font-size: 10px !important;
	font-weight: 400 !important;
	line-height: 140%;
	letter-spacing: 0;
}
//p3
.ao-p5 {
	font-size: 8px !important;
	font-weight: 400 !important;
	line-height: 165%;
	letter-spacing: 0;
}
//c1
.ao-c1 {
	font-size: 14px !important;
	font-weight: 400 !important;
	line-height: 160%;
	letter-spacing: 0;
}
.ao-c1-regular {
	font-size: 14px !important;
	font-weight: 400 !important;
	line-height: 100%;
	letter-spacing: 0;
}
//c2
.ao-c2 {
	font-size: 10px !important;
	font-weight: 600 !important;
	line-height: 140%;
	text-transform: uppercase;
	letter-spacing: 0;
}
//c3
.ao-c3 {
	font-size: 10px !important;
	font-weight: 400 !important;
	line-height: 140%;
	text-transform: uppercase;
	letter-spacing: 0;
}
//c4
.ao-c4 {
	font-size: 10px !important;
	font-weight: 400 !important;
	line-height: 140%;
	letter-spacing: 0;
}
//t3
.ao-t3 {
	font-family: 'Manrope', Intern, sans-serif;
	font-size: 10px;
	font-weight: 600;
	line-height: 14px;
	letter-spacing: 0.02em;
}
//default
.v-text-field input {
	font-size: 0.875em;
	font-weight: 400;
}
