// $list-dense-min-height:36px;
// $list-dense-subheader-height:36px !default;
//$body-font-family: 'arial';
$material-light: (
  'background': #004444,
);


// .v-list-item--density-compact.v-list-item--one-line {
//     min-height: 36px;
// }

$table-master-header-height: 54px;

$text-600: #86919D;

$accent-text: #F6D68D;
$accent: #FE4773;
$dark: #262A35;
$darken: #191A1F;
$light: #EFEFEF;
$green: #00E492;;